
.post-c-min{
	border: 4px dotted rgb(255, 0, 0);
    cursor: pointer;
    overflow: hidden;
    transition: height 0.5s;
}

.post-c-max{
	border: 4px dotted rgb(255, 0, 0);
    cursor: pointer;
    overflow: hidden;
    transition: height 0.5s;
}